html {}

body {
    margin: 0;
    padding: 0;
    background: $body-bg;
    height: 100vh;
}

.website {
    height: 100vh;
}

.website-container {
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto;
    height: 100vh;
    background-color: #333333;
}